*::before{ box-sizing: border-box; }
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient(80deg, #370000, #121212);
    color: rgb(251, 246, 239);
    overflow-x: hidden;
}

.largeNav {
    position: fixed;
    margin: 0;
    background-color: #ffffff3e;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

ul{
    list-style: none;
}

section {
    position: relative;
    /* Sections Children become Absolute*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 400px;
    padding: 10px 100px 20vw 20vw;
    /* vw = vieport width based on %*/
}

#introContent {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background: radial-gradient(at 18% 99%, #370000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 97% 8%, #4e000c 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 79% 82%, #4e0000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 96% 10%, #510000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 42% 20%, #4d070d 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 4% 49%, #4b1b1b 0px, transparent 50%) repeat scroll 0% 0%, 
        rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat scroll 0% 0%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60%;
    min-height: 300px;
    margin-top: 220px;
    margin-left: 10%;
    left: 20%;
    background-image: linear-gradient(-120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to right, #ffffff00, #ffffff44, #ffffff);
    border-width: 3px 3px 3px 0px ;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 25px 0px 0px 25px;
}

.squareOne {
    background-image: url('photo1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 10%;
    transform: rotate(-45deg);
    z-index: 0;
    box-shadow: rgba(255, 0, 0, 0.414) -40px 10px 25px;
    border: red 1px solid;

}

.quote {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
#quoteContext {
    margin-left: 5%;
    padding: 10px;
    padding-right: 0;
    width: 35%;
    background-image: linear-gradient(120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to left, #ffffff00, #ffffff44, #ffffff);
    border-width: 3px 0px 3px 3px ;
    border-style: solid;
    border-image-slice: 1;
}

.wordPress {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: none;
    width: none;
}
#quotePNG {
    background-image: url('quoteOne.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 300px;
}
#wpContext {
    Width: 30%;
}
#viewPoint1 {
    width: 55%;
    height: auto;
}

.colorTwo {
    background-color: #370000;
}
.colorTre {
    background-color: #4e000c;
}
.colorFur {
    background-color: #4e0002;
}
.colorFiv {
    background-color: #4e0000;
}

/*
Spacer Created using the
Custome SVG generator:
    https://app.haikei.app/
*/
.spacer {
    aspect-ratio: 900/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .layer2{
        background-image: url('div_one.svg');
        position: relative;
    }
    .flip {
        background-image: url('div_one.svg');
        position: relative;
        transform: rotate(180deg);
    }/* Spacer End */


/*
Animated orb sections start
*/
#up {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #8f6a4895, #850000a2);
    filter: blur(80px);
    animation: up 30s infinite;
    z-index: -1;
}
#down {
    position: absolute;
    right: 0;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #ff7b0095, #4b0808a2);
    filter: blur(80px);
    animation: down 30s infinite;
    z-index: -1;
}
#left {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #cf9c6c95, #562121ea);
    filter: blur(80px);
    animation: left 30s infinite;
    z-index: -1;
}
#right {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #ff002f95, #750d0dea);
    filter: blur(80px);
    animation: right 30s infinite;
    z-index: -1;
}
@keyframes down{
    0%, 100%{
        bottom:-100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes up{
    0%, 100%{
        top:-100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left:-100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right:-100px;
    }
    70%{
        right: 1300px;
    }
}
/*
Orb End
*/


.carousel
{
    width: 650px;
    height: 350px;
    position: relative;
	top: 5px;
	left: 5%;
	
}
.screenmobile > .carousel
{
	width: 300px;
	height: 900px;
}
.carousel > ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide 
{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide[data-active]
{
    opacity: 1;
	z-index: 1;
}
.slide > video
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 45px;
}
.carousel-button
{
    position: absolute;
    background: none;
    z-index: 2;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(223, 223, 233, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
.carousel-button.prev { left: 1rem;}
.carousel-button.next { right: 1rem;}
