@charset "utf-8";
* { box-sizing: border-box; }
*::before{ box-sizing: border-box; }

::-webkit-scrollbar {
    background: #121212;
}
    
::-webkit-scrollbar-thumb {
    background: #d74040; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #e40000bc; /* color of the scroll thumb on hover */
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient(80deg, #370000, #121212);
    color: rgb(251, 246, 239);
    overflow-x: hidden;
}

.largeNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

#smallNav {
    display: none;
}

.largeNav {
    position: fixed;
    margin: 0px;
    background-color: #121212;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}
ul{
    list-style: none;
    text-decoration: none;
}

.logoSize {
    width: 64px;
    height: 64px;
}
#lnLogo {
    width: 100px;
    height: 100px;
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
    /* Sections Children become Absolute*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 100px 20vw 20vw;
    /* vw = vieport width based on %*/
}
/* -------------------------------- Language Page Styles --------------------------- */
#andriodStudio { padding: 0px; margin: 0px; }

#banner {
    position: relative;
    top: 100px;
    width: 100%;
    height: 440px;
    background-image: url('image/calc_app/language_heading.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.myApps {
    padding: 0px;
    margin: 0px;
    width: 90vw;
}
.scrollable {
    overflow-y: hidden;
    height: 700px;
}
.mobileApps {
    width: 100vw;
    white-space: nowrap;
}

div.section {
    width: 100vw;
    display: inline-flex;
    position: relative;
}

.section .sphoto {
    justify-content: center;
    position: left;
}

.sphoto img {
    width: 300px;
    height: 600px;
}

.section .sdisc {
    white-space: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#javaScript{ padding: 0px; margin: 0px; }

/* -------------------------------- End Language Page --------------------------- */


#introContent {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background: radial-gradient(at 18% 99%, #370000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 97% 8%, #4e000c 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 79% 82%, #4e0000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 96% 10%, #510000 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 42% 20%, #4d070d 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 4% 49%, #4b1b1b 0px, transparent 50%) repeat scroll 0% 0%, 
        rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat scroll 0% 0%;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60%;
    min-height: 300px;
    margin-top: 220px;
    margin-left: 40%;
    background-image: linear-gradient(-120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to right, #ffffff00, #ffffff44, #ffffff);
    border-width: 3px 3px 3px 0px ;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 25px 0px 0px 25px;
}
.squareOne {
    background-image: url('image/photo1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 15%;
    transform: rotate(-45deg);
    z-index: 0;
    box-shadow: rgba(255, 0, 0, 0.414) -40px 10px 25px;
    border: red 1px solid;

}
#square2 {
    width: 300px;
    height: 560px;
    position: absolute;
    top: 120px;
    left: 15%;
}

.quote {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
#quoteContext {
    margin-left: 5%;
    padding: 10px;
    padding-right: 0;
    width: 35%;
    background-image: linear-gradient(120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to left, #ffffff00, #ffffff44, #ffffff);
    border-width: 3px 0px 3px 3px ;
    border-style: solid;
    border-image-slice: 1;
}
.wordPress {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: none;
    width: 100vw;
}
#quotePNG {
    background-image: url('image/quoteOne.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 300px;
}
#wpContext {
    Width: 40%;
    padding: 10px;
    padding-right: 0;
    background-image: linear-gradient(-120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to right, #ffffff00, #ffffff44, #ffffff);
    border-width: 3px 3px 3px 0px ;
    border-style: solid;
    border-image-slice: 1;
}

.colorTwo {
    background-color: #370000;
}
.colorTre {
    background-color: #4e000c;
}
.colorFur {
    background-color: #4e0002;
}
.colorFiv {
    background-color: #4e0000;
}

/*
Spacer Created using the
Custome SVG generator:
    https://app.haikei.app/
*/
.spacer {
    aspect-ratio: 900/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .layer2{
        background-image: url('image/div_one.svg');
        position: relative;
    }
    .flip {
        background-image: url('image/div_one.svg');
        position: relative;
        transform: rotate(180deg);
    }/* Spacer End */

/* Animated orb sections start*/
#up {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #8f6a4895, #850000a2);
    filter: blur(80px);
    animation: up 30s infinite;
    z-index: -1;
}
#down {
    position: absolute;
    right: 0;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #ff7b0095, #4b0808a2);
    filter: blur(80px);
    animation: down 30s infinite;
    z-index: -1;
}
#left {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #cf9c6c95, #562121ea);
    filter: blur(80px);
    animation: left 30s infinite;
    z-index: -1;
}
#right {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #ff002f95, #750d0dea);
    filter: blur(80px);
    animation: right 30s infinite;
    z-index: -1;
}
@keyframes down{
    0%, 100%{
        bottom:-100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes up{
    0%, 100%{
        top:-100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left:-100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right:-100px;
    }
    70%{
        right: 1300px;
    }
}/* Orb End*/

.row {
    display: flex;
    flex-direction: row;
}
.row-column1 {
    display: flex;
    flex-direction: column;
    height: auto;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    flex-direction: row;
    width: 25%;
  }
  .thumbnailR {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 2;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  video.myVideo {
    width: auto; 
    height: 100%;
    margin-left: 13.5%;
    }
  /* Hide the slides by default */
  .mySlides {
    display: none;
    width: 100vw;
    height: 60vh;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit opacity */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    width: 300px;
    height: auto;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
    width: 200px;
    height: auto;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*clear prevouse styles for Language Accordion*/
section#myLangs {
    display: block;
    background-color: #121212;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    transform: translateX(-250px);
    padding: 50px 0px;
    box-shadow: rgba(255, 0, 0, 0.414) -40px 10px 25px;
    border: red 1px solid;
}
#myLangs {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.toLeft {
    flex-direction: row;
}
.accordion {
    color: #fff1bf;
    font-size: 1.2em;
    cursor: pointer;
    padding: 18px;
    transition: 0.4s;
}
button.accordion {
    background-color: transparent;
    border-radius: 999%;
    border-width: 0;
}
.accordion:hover {
    background-color: #4f0000;
}
.active { 
    background-color: #ff8b6885;
}
.panel {
    display: none;
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(120deg, #ffffff52, #ffffff1d, #ffffff00, #ffffff00);
    border-image: linear-gradient(to left, #ffffff00, #ffffff00, #ffffff7e, #ffffff);
    border-width: 3px 0 3px 3px ;
    border-right-width: 0;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 0px 40px 40px 0px;
    width: 65%;
    min-height: 125px;
    transform: translateX(300px);
    margin-top: -125px;
}
/* Accordion Logos*/
#pyLogo {
    background-image: url("image/pyLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#sqlLogo {
    background-image: url("image/sglLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#urLogo {
    background-image: url("image/unrealLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#dartLogo {
    background-image: url("image/dartLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#phpLogo {
    background-image: url("image/phpLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#jsLogo {
    background-image: url("image/jsLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
button#accord1 {
    margin-left: 92%;

}
button#accord2 {
    margin-left: 97%;

}
button#accord3 {
    margin-left: 99%;

}
button#accord4 {
    margin-left: 99%;

}
button#accord5 {
    margin-left: 97%;

}
button#accord6 {
    margin-left: 92%;

}/* End accordion */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #121212;
    font-style: italic;
    min-height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#citeMap, ul.citeMap {
    padding: 18px 0px;
    margin: 0px;
}
#contact1 {
    padding: 18px;
    margin: 0px;
}
#fLogo {
    margin: 18px;
    width: 150px;
    height: 150px;
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#mobileHide {
    display: none;
}

/* Tablet view*/
@media screen and (max-width: 1000px){
    #mobileHide {
        display: contents;
    }
    #main {
        transition: margin-left .5s;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topVideo video {
        margin-left: 0;
        height: 600px;
    }

    .fixNav {
        display: none;
    }
    #smallNav {
        display: block;
    }
    body {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
        align-items: center;
	}
    section {
        flex-direction: column;
        padding: 0;
        align-content: center;
    }
    .introContent {
        margin: 0;
        height: fit-content;
        padding: 100px 0px;
        flex-direction: column;
        justify-content: space-around;
    }
    .squareOne {
        display: none;
    }
    .squareTwo {
        background-image: url('image/photo1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 180px;
        height: 180px;
        position: relative;
        transform: rotate(-45deg);
        z-index: 0;
        box-shadow: rgba(255, 0, 0, 0.414) -40px 10px 25px;
        border: red 1px solid;
        margin-bottom: 10%;
    }
    .container {
        margin: 100px 0px;
        padding: 0px;
        flex-direction: column;
        text-align: center;
    }
    #containerContent {
        padding-left: 10%;
    }
    #quoteContext {
        width: 95%;
    }
    .wordPress {
        flex-direction: column-reverse;
    }
    #wpContext {
        width: 100%;
    }
    .quote {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #quotePNG {
        width: 250px;
        height: 150px;
    }

    /* The side navigation menu */
    #ham-menu
    {
        height: 50px;
        width: 50px;
        position: fixed;
        left: 50px;
    }

    #ham-menu span.spanBar
    {
        height: 5px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .4s ease;
    }

    /* Spaces the span bars so there are three */
    #ham-menu span:nth-child(1) { top: 25%; }

    #ham-menu span:nth-child(3) { top: 75%; }

    /* Forms the "x" */
    #ham-menu.active span:nth-child(1) 
    {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #ham-menu.active span:nth-child(2) { opacity: 0;}

    #ham-menu.active span:nth-child(3) 
    {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #121212;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    section#myLangs {

        transform: translateX(-50px);
    }
    button#accord1 {
        margin-left: 13%;
    
    }
    button#accord2 {
        margin-left: 16%;
    
    }
    button#accord3 {
        margin-left: 19%;
    
    }
    button#accord4 {
        margin-left: 18%;
    
    }
    button#accord5 {
        margin-left: 16%;
    
    }
    button#accord6 {
        margin-left: 13%;
    
    }/* End accordion */

    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    @keyframes down{
        0%, 100%{
            bottom:-100px;
        }
        70%{
            bottom: 300px;
        }
    }
    @keyframes up{
        0%, 100%{
            top:-100px;
        }
        70%{
            top: 300px;
        }
    }
    @keyframes left{
        0%, 100%{
            left:-100px;
        }
        70%{
            left: 130px;
        }
    }
    @keyframes right{
        0%, 100%{
            right:-100px;
        }
        70%{
            right: 300px;
        }
}
@media screen and (max-width: 450px){
    body {
        padding: 0;
        margin: 0;
    }

    .fixNav {
        display: none;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .squareTwo {
        display: none;
    }
    .quote {
        flex-direction: column-reverse;
    }
    #quotePNG {
        background-image: url('image/quoteOne.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 190px;
        padding-left: 0;
    }
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    section#myLangs {

        transform: translateX(-30px);
    }
    .logoSize {
        width: 50px;
        height: 50px;
    }
    button#accord1 {
        margin-left: 15%;    
    }
    button#accord2 {
        margin-left: 15%;
    
    }
    button#accord3 {
        margin-left: 15%;
    
    }
    button#accord4 {
        margin-left: 15%;
    
    }
    button#accord5 {
        margin-left: 15%;
    
    }
    button#accord6 {
        margin-left: 15%;
    
    }
    .panel {
        width: 65%;
        min-height: 125px;
        transform: translateX(50px);
        margin-top: 5px;
    }/* End accordion */
}
}
